/*----BODY----*/

//стандартні налаштування body (шрифт, колір тексту і бекграунда)
body {
  font-family: 'Roboto', sans-serif;
  background: #f0f0f0;
  color: black;
}

/*----RESET----*/

// Скасування декорування лінків, застосується до тегів з таким класом
.link {
  text-decoration: none;
}

// скасуванння декорування списків, застосується до тегів з таким класом
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

//налаштування картинок

img {
  display: block;
  width: 100%;
  height: auto;
}

// скасування зовнішніх відступів для зазначених тегів
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

// налаштування для фону на задніку
#particles-js {
  position: fixed;
  z-index: -3;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(
    90deg,
    #31111c,
    #e4282a,
    #d52827,
    #110a13
  );
  background: linear-gradient(90deg, #31111c, #e4282a, #d52827, #110a13);
}

// налаштування кастомних курсорів
// button,
// a {
//   cursor: url('../images/cursor.cur'), auto;
// }

// button:hover,
// a:hover {
//   cursor: url('../images/cursor-hover.cur'), auto;
// }

// клас приховування, застосується до тегів з таким класом
.is-hidden {
  display: none;
}
