/*----BODY----*/

/*Roboto cyrillic font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  // font-display: swap;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  // unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  // font-display: swap;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  // unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

//стандартні налаштування body (шрифт, колір тексту і бекграунда)
body {
  font-family: 'Roboto', sans-serif;
  background: #f0f0f0;
  color: black;
  padding-top: 0 !important; //бо якась фігня цей параетр інлайново змінює
}

/*----RESET----*/

// Скасування декорування лінків, застосується до тегів з таким класом
.link {
  text-decoration: none;
}

// скасуванння декорування списків, застосується до тегів з таким класом
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

//налаштування картинок

img {
  display: block;
  width: 100%;
  height: auto;
}

// скасування зовнішніх відступів для зазначених тегів
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

// налаштування для фону на задніку
#particles-js {
  position: fixed;
  z-index: -3;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(
    90deg,
    #31111c,
    #e4282a,
    #d52827,
    #110a13
  );
  background: linear-gradient(90deg, #31111c, #e4282a, #d52827, #110a13);
}

//https://convertio.co/png-cur/
// налаштування кастомних курсорів

// button,
// a {
//   cursor: url('../images/cursor.cur'), auto;
// }

button:hover,
a:hover {
  cursor: url('../images/cine.cur'), auto;
}

// клас приховування, застосується до тегів з таким класом
// анадог віжуалі-хідден
.is-hidden {
  display: none;
}
