<header class="section-header">
  <div class="container">
    <div class="header">
      
      <div class="header-digression">
        <nav class="header-nav">
          <form class="search-field-js js-input-query form" action="">
            <div class="input-wrap">
              <input
                type="text"
                placeholder="Movie Search"
                name="query"
                class="query-input"
              />
              <button type="submit" class="form__button">
                <svg width="16" height="16">
                  <use href="/src/images/icons.svg#icon-search"></use>
                </svg>
              </button>
            </div>
          </form>
          <div class="button-nav">
            <button type="button" class="btn btn--current js-home">Home</button>
            <button type="button" class="btn js-library button-nav__library">
              My Library
            </button>
          </div>
        </nav>
        
        <nav class="header-logo">
          <span>
           <a href="#">
            <svg class="header-logo__icon">
              <use href="/src/images/icons.svg#icon-filmlogo"></use>
            </svg>
           </a>
          </span>
          <span class="header-logo__text">Filmoteka</span>
        </nav>
      </div>
      <div class="js-library-buttons  is-hidden ">
        <button type="button" class="btn btn--red-color">Watched</button>
        <button type="button" class="btn btn--white-color">Queue</button>
      </div>
    </div>
  </div>
</header>
