<header class="section-header">
  <div class="container">
    <div class="header">
      <nav class="header-nav">
        <a href="./index.html" class="link btn btn--current">Home</a>
        <a href="#" class="link btn">My Library</a>
      </nav>
      <form class="search-field-js" action="">
        <div class="input-wrap">
          <input
            type="text"
            placeholder="Movie Search"
            name="query"
            class="query-input"
          />
          <button type="submit" class="search-field__button">
            <svg width="18" height="18" class="search-field__icon">
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </button>
          <!-- <svg width="18" height="18" class="modal-form-icon">
                <use href="./images/icons.svg#icon-search"></use>
              </svg> -->
        </div>
      </form>
    </div>
  </div>
</header>
