<header class="section-header">
  <div class="container">
    <div class="header">
      <div class="header-digression">
        <div class="header-block">
          <form class="search-field-js js-input-query form" action="">
            <div class="input-wrap">
              <input
                type="text"
                placeholder="Movie Search"
                name="query"
                class="query-input"
              />
              <button type="submit" class="form__button">
                <svg width="16" height="16">
                  <use href="/src/images/icons.svg#icon-search"></use>
                </svg>
              </button>
            </div>
          </form>
          <nav class="button-nav">
            <button type="button" class="btn btn--current js-home">Home</button>
            <button type="button" class="btn js-library button-nav__library">
              My Library
            </button>
          </nav>
        </div>

        <div class="header-logo">
          <a href="#" class="header-link">
            <span>
              <svg class="header-logo__icon">
                <use href="/src/images/icons.svg#icon-filmlogo"></use>
              </svg>
            </span>
            <span class="header-logo__text">Filmoteka</span>
          </a>
        </div>
      </div>
      <div class="js-library-buttons is-hidden">
        <button type="button" class="btn btn--red-color">Watched</button>
        <button type="button" class="btn btn--white-color">Queue</button>
      </div>
    </div>
  </div>
</header>
