<!-- Modal Window -->
<div data-modal class="backdrop is-hidden">
    <div class="modal-window">
        <form class="modal-form js-speaker-form">
            <h2 class="modal-form__title">
                Helloy from library
            </h2>
            <button type="button" data-modal-close class="close-button">
                <svg class="close-button__icon" width="18px" height="18px">
                    <use href="./images/icons.svg#icon-modal-close-black"></use>
                </svg>
            </button>

<div class="modal-form__field">
    
</div>

<!-- (() => {
const refs = {
openModalBtn: document.querySelector("[data-modal-open]"),
closeModalBtn: document.querySelector("[data-modal-close]"),
modal: document.querySelector("[data-modal]"),
};

refs.openModalBtn.addEventListener("click", toggleModal);
refs.closeModalBtn.addEventListener("click", toggleModal);

function toggleModal() {
refs.modal.classList.toggle("is-hidden");
}
})(); -->