<!-- <button class="button" data-action="open-team-modal">Open Modal</button> -->

<div class="team-backdrop js-team-backdrop">
    <div class="team-modal">
            Eveniet, hic sed vel neque, illo soluta dolore facilis ea consequatur expedita odio. Tenetur voluptate
        <!-- <button type="button" class="team-modal-button close-button" data-action="close-team-modal">
            <svg class="close-button" width="30" height="30">
                <use href="/src/images/icons.svg#icon-close" class="close-button__icon"></use>
            </svg> -->
        <button type="button" class="team-modal-button close-button" data-action="close-team-modal">
            <div class="leftright"></div>
            <div class="rightleft"></div>
        </button>
        <section class="team section">
            <div class="team__conteiner container">
                <h2 class="section-title section-title">Helloy!This is our team!</h2>

            </div>

    </div>
</div>