<!-- <button class="button" data-action="open-team-modal">Open Modal</button> -->

<div class="team-backdrop js-team-backdrop">
    <div class="team-modal">
        <h2>Helloy!This is our team!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolor ipsa unde fugit molestiae sunt reiciendis,
            explicabo aspernatur, itaque recusandae repellendus ad nisi fugiat illo dignissimos accusamus eveniet saepe
            debitis.
            Voluptatum nam quis eum repellendus perspiciatis asperiores aut minima iure. Mollitia pariatur blanditiis
            odio ex ipsam obcaecati harum. Provident repellat iure ut assumenda necessitatibus est eaque placeat
            voluptatibus ratione commodi!
            Eveniet, hic sed vel neque, illo soluta dolore facilis ea consequatur expedita odio. Tenetur voluptate
            temporibus minus, quis, qui est odio modi laudantium natus repudiandae ea molestiae non quas enim!
            Itaque illum minima beatae perferendis. Accusamus nesciunt rem dolor ullam, harum id omnis laudantium
            quisquam molestias vero. Voluptas fuga ducimus, eligendi iste quis pariatur, totam eveniet facere soluta
            aliquid corrupti.
            Rerum soluta accusantium maxime nobis unde saepe pariatur veniam ducimus! Fugit laudantium ducimus minima,
            itaque quisquam molestias, rerum qui nobis, quis debitis vel odio aperiam esse dolore at eum blanditiis?</p>

        <button type="button" class="team-modal-button" data-action="close-team-modal">
            Close Modal
        </button>

    </div>
</div>