<!-- <button class="button" data-action="open-team-modal">Open Modal</button> -->

<div class="team-backdrop js-team-backdrop">
  <div class="team-modal">
    <button type="button" class="team-modal-button close-button" data-action="close-team-modal">
      <span class="leftright"></span>
      <span class="rightleft"></span>
      <span class="visually-hidden" aria-hidden="true">Close, button</span>
    </button>
    <section class="team section">
      <div class="team__conteiner container">
        <h2 class="section-title">Code Tamers</h2>
        <ul class="modal-team__list">
          <!-- <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img class="modal-team__img"
                srcset="./images/team/oleksandr_team1_170_170.jpg 1x, ./images/team/oleksandr_team1_170_170@2x.jpg 2x"
                src="./images/team/oleksandr_team1_170_170.jpg" alt="Oleksandr Khomiak" width="200" height="150" />
            </div>
            <h2 class="team__name">Oleksandr Khomiak</h2>
            <p class="team__profession">Team-lead</p>
            <ul class="team__socials list">
              <li><a class="team__social" href="https://github.com/sasha-khomiak" target="_blank"
                  rel="noreferrer noopener" aria-label="GitHub">
                  <svg class="team-icon" width="30" height="30">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a></li>
              <li><a class="team__social" href="https://www.linkedin.com/in/oleksandr-khomiak-682907125/"
                  target="_blank" rel="noreferrer noopener" aria-label="Linkedin">
                  <svg class="team-icon" width="30" height="30">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </li> -->

        </ul>
      </div>
    </section>
  </div>
</div>