////// ВЕРХНЄ МЕНЮ //////

// Секція хедер
.section-header {
  //   //для мобіли 320-767
  width: 100%;
  // background-color: yellow;
}

// @keyframes animateBg {
//   0% {
//     scale: 1;
//   }

//   100% {
//     scale: 1.05;
//   }
// }

.header {
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: 460px;
  // width: 280px;

  background-color: red;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 65.37%
    ),
    url('../images/bg-mobile.jpg');
  border-radius: 10px;
  border-style: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; //треба?
  padding: 14px 14px 0px 14px;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/bg-mobile@2x.jpg');
  }

  // animation: animateBg 3s infinite alternate;

  @media screen and (min-width: 768px) {
    height: 222px;
    background-image: linear-gradient(
        273.67deg,
        rgba(0, 0, 0, 0.49) -2.09%,
        rgba(0, 0, 0, 0) 99.83%
      ),
      url('../images/bg-tablet.jpg');
    border-radius: 15px;
    padding: 16px;
    flex-direction: initial;
    margin: 32px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/bg-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 1280px) {
    height: 316px;
    background-image: linear-gradient(
        273.67deg,
        rgba(0, 0, 0, 0.49) -2.09%,
        rgba(0, 0, 0, 0) 99.83%
      ),
      url('../images/bg-desktop.jpg');
    border-radius: 15px;
    padding: 16px 32px 0px 32px;
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/bg-tablet@2x.jpg');
    }
  }
}

.header-block {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }
  @media screen and(min-width:768px) {
    height: 38px;
    margin-right: auto;
  }
}

.form {
  height: 38px;
  @media screen and(max-width:767px) {
    height: 34px;
  }
  @media screen and(min-width:768px) {
    width: 165px;
  }
  @media screen and(min-width:1280px) {
    width: 187px;
  }
}

// @keyframes logoAnimation {
//   /* Тут будуть описуватися кадри */
//   0% {
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(1.2);
//   }
// }

.header-logo__icon {
  // animation-name: logoAnimation;
  // animation-duration: 500ms;
  // animation-iteration-count: infinite;
  // animation-direction: alternate;

  animation: fillanimation 5s infinite alternate;

  width: 32px;
  height: 32px;
  @media screen and(min-width:768px) {
    width: 40px;
    height: 40px;
  }
  @media screen and(min-width:1280px) {
    width: 59px;
    height: 59px;
  }
}

@keyframes fillanimation {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(189, 68%, 75%);
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%, 0%);
  }
}

.header-logo__text {
  color: #fff;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  @media screen and(min-width:768px) {
    font-size: 40px;
    line-height: 47px;
  }
  @media screen and(min-width:1280px) {
    font-size: 64px;
    line-height: 75px;
  }
}
.header-logo {
  @media screen and(max-width:767px) {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 288px;
  }
  @media screen and(min-width:768px) {
    height: 47px;
    margin-top: 105px;
  }
  @media screen and(min-width:1280px) {
    height: 75px;
    margin-top: 150px;
  }
}
.header-digression {
  @media screen and(min-width:768px) {
    margin-right: auto;
  }
}

.header-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  display: flex;
}
