body {
  // overflow: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 50;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  overflow: visible;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 280px;
  padding: 48px 20px 40px;

  height: 80%;
  overflow-y: auto;

  background: #ffffff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    min-width: 704px;
    // min-height: 558px;
    padding: 40px 72px 64px 36px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 806px;
    padding: 40px 12px;
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  border-style: none;
  border-radius: 50%;
}

.close-button__icon {
  fill: #000000;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    .close-button__icon {
      fill: #b92f2c;
    }
  }
}
.film-container {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 68px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.cinema-card {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 264px;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
  }
}

.card-photo {
  display: block;
  width: 100%;
  height: auto;
}

.card-block {
  flex-direction: column;
  gap: 20px;
  display: flex;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}

.card-title {
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.15;

  @media screen and (min-width: 1280px) {
    font-size: 31px;
    line-height: 1.7333;
  }
}

.filter-list {
  flex-direction: column;
  gap: 8px;
  display: flex;

  @media screen and (min-width: 1280px) {
    max-width: 250px;
  }
}

.filter-item {
  display: flex;
}

.text-description {
  width: 50%;
  color: #8c8c8c;
  line-height: 1.3;
}

.text-field {
  width: 50%;
  line-height: 1.16;
}

.text-filed-rate {
  color: #fff;
  background-color: #b92f2c;
  border-radius: 5px;
  padding: 1px 10px;
  line-height: 1.16;
}

.text-field-total {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1px 10px;
  line-height: 1.16;
}

.text-title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
}

.text-content {
  line-height: 1.66;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 242px;
  }
  @media screen and (min-width: 1280px) {
    width: 391px;
    height: 184px;
  }
}

.modal-less {
  display: none;
}

.read-more {
  color: #b92f2c;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
}

.card-button {
  gap: 8px;
  display: flex;
  width: 240px;

  @media screen and (min-width: 768px) {
    width: 270px;
  }
  @media screen and (min-width: 1280px) {
    width: 307px;
  }
}
.card-btn {
  width: 50%;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 100px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67px;
  text-transform: uppercase;
  color: #b92f2c;
  line-height: 1.667;
}

.card-btn:hover {
  background: #b92f2c;
  color: #ffffff;
}

.trailer__container {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: block;
    width: 264px;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}

.video-frame {
  width: 100%;
  min-height: 300px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    min-height: 200px;
  }
}
