.fixed-body {
  overflow: hidden;
}

//----------------НАЛАШТУВАННЯ БЕКДРОП----------------//
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  z-index: 50;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // @media screen and (min-width: 768px) {
  //   align-items: center;
  //   padding-left: 32px;
  //   padding-right: 32px;
  //   display: flex;
  // }
}

// .backdrop.is-hidden {
//   opacity: 0;
//   pointer-events: none;
//   visibility: hidden;
//   overflow: visible;
// }

//----------------НАЛАШТУВАННЯ МОДАЛКИ----------------//
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 280px;
  padding: 48px 20px 40px;

  height: 80%;
  overflow-y: auto;

  background: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 40px 72px 64px 36px;

    width: 704px;
    max-height: 552px;

    overflow: hidden;
    // position: fixed;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    max-height: 558px;
    padding: 40px 12px;
  }
}

//----------------НАЛАШТУВАННЯ КНОПКИ ЗАКРИТТЯ----------------//

.close-button-movie-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;

  top: 8px;
  right: 8px;
}

.leftright-movie-btn,
.rightleft-movie-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 20px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease-in;
}

.rightleft-movie-btn {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.leftright-movie-btn {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button-movie-btn:hover .leftright-movie-btn {
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #b92f2c;
}

.close-button-movie-btn:hover .rightleft-movie-btn {
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #b92f2c;
}

//----------------НАЛАШТУВАННЯ ПОВЕДІНКИ БЛОКІВ В МОДАЛЦІ----------------//

.film-container {
  @media screen and (min-width: 768px) {
    // overflow-y: scroll;
    // position: fixed;
    //     display: flex;
    //     gap: 68px;
  }

  //   @media screen and (min-width: 1280px) {
  //     gap: 16px;
  //   }
}

//----------------НАЛАШТУВАННЯ ОФОРМЛЕННЯ ПОСТЕРА----------------//

.cinema-card {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 264px;
    position: fixed;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
  }
}

//----------------НАЛАШТУВАННЯ ТЕКСТОВОГО БЛОКУ----------------//

.card-block {
  font-weight: 500;

  @media screen and (min-width: 768px) {
    margin-left: 368px - 36px;
    width: 266px;
    height: 444px;
  }

  @media screen and (min-width: 1280px) {
    width: 393px;
    margin-left: 403px - 12px;
    min-height: 397px;
  }
}

//----------------НАЛАШТУВАННЯ ЗАГОЛОВКУ----------------//

.card-title {
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: calc(35 / 30);
  }
}

//----------------НАЛАШТУВАННЯ БЛОКУ ДЕТАЛЕЙ ОПИСУ ПРО ФІЛЬМ----------------//
.filter-list {
  flex-direction: column;
  gap: 8px;
  display: flex;
  margin-bottom: 20px;
}

.filter-item {
  display: flex;
}

//----------------НАЛАШТУВАННЯ ТЕКСТУ БЛОКУ ДЕТАЛЕЙ ОПИСУ ПРО ФІЛЬМ----------------//

.text-description {
  width: 50%;
  font-size: 12px;
  line-height: calc(16 / 12);

  color: #8c8c8c;
}

.text-field {
  width: 50%;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);

  text-transform: uppercase;
  color: #000000;
}

.text-filed-rate {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);

  color: #ffffff;
  background-color: #b92f2c;
  border-radius: 5px;
  padding: 1px 10px;
}

.text-field-total {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1px 10px;
}

//----------------НАЛАШТУВАННЯ ТЕКСТУ ABOUT----------------//

.text-title {
  font-size: 12px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 8px;
}

.text-content {
  font-size: 12px;
  line-height: calc(20 / 12);

  color: #000000;
  margin-bottom: 20px;
  // overflow: hidden;

  // @media screen and (min-width: 768px) {
  //   width: 264px;
  //   height: 242px;
  // }
  // @media screen and (min-width: 1280px) {
  //   width: 391px;
  //   height: 184px;
  // }
}

//----------------НАЛАШТУВАННЯ КНОПОК----------------//

// згрупований дів кнопок
.card-button {
  margin-top: 20px;
  gap: 4px;
  display: flex;
  width: 100%;
  padding-bottom: 10px;

  // @media screen and (min-width: 768px) {
  //   width: 270px;
  // }
  // @media screen and (min-width: 1280px) {
  //   width: 307px;
  // }
}

// Самі кнопки

.card-btn {
  height: 50px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 100px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #b92f2c;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.05);
  }

  @media screen and (min-width: 768px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @media screen and (min-width: 1280px) {
    padding: 14px 32px;
    width: 48%;
  }

  &-active {
    background: #b92f2c;
    color: #ffffff;
    border: 1px solid #b92f2c;
  }
}

//----------------НАЛАШТУВАННЯ КОНТЕЙНЕРА ТРЕЙЛЕРА----------------//

.trailer__container {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: block;
    width: 264px;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}

.video-frame {
  width: 100%;
  min-height: 300px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    min-height: 200px;
  }
}

.scroll-block {
  padding-right: 2px;
  @media screen and (min-width: 768px) {
    max-height: 342px;
    overflow-y: auto;
  }

  @media screen and (min-width: 1280) {
    height: 282px;
  }
}
