// стилі блоку галереї фільмів фільму

.gallery {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
    margin: 32px;
  }

  //для десктопа від 1280
  @media screen and (min-width: 1280px) {
    row-gap: 32px;
    column-gap: 16px;
  }
}

// стилі картки фільму

.film-card {
  width: 100%;
  // height: 398px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  //для планшету 768-1279
  @media screen and (min-width: 768px) {
    // width: 336px;
    // height: 455px;
    width: calc((100% - 32px) / 2);
    margin-bottom: 0;
  }

  //для десктопа від 1280
  @media screen and (min-width: 1280px) {
    // width: 395px;
    // height: 574px;
    width: calc((100% - 32px) / 3);
  }
}

// стилі картинки в картці фільма

.thumb {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb > img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    height: 500px;
  }
  @media screen and (min-width: 1280px) {
    height: 600px;
  }
}

.thumb > img:hover {
  transform: scale(1.1);
}

// стилі назви в картці фільма

.film-name {
  // margin-top: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;

  // color: #000000;
  color: white;

  //для планшету 768-1279
  @media screen and (min-width: 768px) {
    // margin-top: 8px;
    line-height: calc(16 / 12);
  }

  //для десктопа від 1280
  @media screen and (min-width: 1280px) {
    // margin-top: 12px;
    font-size: 18px;
    line-height: calc(24 / 20);
  }
}

// стилі короткого опису в картці фільма

.film-info {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  // color: #b92f2c;
  color: navajowhite;

  //для десктопа від 1280
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.info {
  // background: rgb(63,3,26);
  // background: linear-gradient(90deg, rgba(63,3,26,1) 0%, rgba(60,3,8,0.7220939401151085) 35%, rgba(66,3,5,1) 100%);
  background: rgb(63, 3, 26);
  background: linear-gradient(
    90deg,
    rgba(63, 3, 26, 0.10024520061931019) 0%,
    rgba(66, 3, 5, 1) 48%
  );
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  // height: 55px;
  height: 100%;
  display: flex;
  align-items: center;
  @media screen and (min-width: 1280px) {
    // height: 90px;
  }
}
