.open-team-modal {
  height: 100%;
  cursor: pointer;
  font-size: 18px;
  transform: color;

&:hover,
&:focus{
 color: #b92f2c; 

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

}

body.show-team-modal .team-backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  z-index: 1000;
}

body.show-team-modal .modal {
  transition: scale(1);
}

.team-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 950;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.team-modal {
  padding: 24px;
  border-radius: 4px;
  max-width: 80%;
  width: 100%;
  min-height: 80%;
  box-shadow: 0px 1px 3px 6px rgba(0, 8, 0, 0.2),
    0px 1px 1px rgba(0, 8, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 6, 0.12);

  position: absolute;

  max-height: 100%;
  overflow-y: auto;

background: radial-gradient(#b92f2c, #1f1013);
}

.close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  
  top: 8px;
  right: 8px;
}

.leftright,
.rightleft {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 20px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease-in;
}

.rightleft {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.leftright {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button:hover .leftright {
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #b92f2c;
}

.close-button:hover .rightleft {
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #b92f2c;
}


.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #b92f2c;
  margin-bottom: 30px;

background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 30px;

  @media screen and (min-width: 780px) {
  font-size: 38px;
    }
  
    @media screen and (min-width: 1280px) {
font-size: 38px;
    }


  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;

  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }

    100% {
      background-size: 300% 300%;
    }
  }

  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
}


.modal-team__container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media screen and (min-width: 769px) {
    margin-top: 30px;
  }
}

.modal-team__list {
  padding: 0;
  text-decoration: none;
  list-style: none;

  @media (min-width: 320px) and (max-width: 1279px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1279px) {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.modal-team__item {
  position: relative;
  width: 240px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid rgb(168, 113, 113);
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);

  @media screen and (min-width: 320px) {
    width: 100%;
    margin-bottom: 15px;
  }

  @media (min-width: 769px) and (max-width: 1279px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1279px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  border-radius: 15px;
  cursor: pointer;

}
.modal-team__item:hover,
.modal-team__item:focus{
  box-shadow: 0px 1px 3px rgba(249, 248, 248, 0.12), 0px 1px 1px rgba(250, 250, 250, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  
    transform:scale(1.1);
    background-color: whitesmoke;   
}


.modal-team__img-container {
  overflow: hidden;
  width: 170px;
  height: 170px;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}

.modal-team__img {
  margin-top: 5px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: 1s;
}

.team__name {
  font-style: 500;
  font-size: 18px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 5px;
  border: none;
  color: #000000;
}

.team__profession {
  font-style: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
  color: #b92f2c;
}
.team__socials {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.team__social {
  display: flex;
  justify-content: center;
}

.team-icon {
  border-radius: 50%;
}

.team-icon:hover,
.team-icon:focus {
  background-color: #b92f2c;
}